@import "bootstrap";
@import "bootstrap-icons";

main {
  padding: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.logoIkodi {
  width: 40px;
  height: 40px;
  background: center/contain no-repeat url("../assets/logo_ikodi_carre.png");
}
.createform__container {
  width: auto;
  margin: auto;
  max-width: 850px;
  padding: 2rem;
}
.post__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  width: auto;
  max-width: 800px;
  margin: auto;
}
.flash-error {
  color: $red-500;
}
/** Bootstrap css */
.list-group {
  width: auto;
  max-width: 460px;
}
